<div id ="crew" class="row">
	<h2>Notre équipe</h2>
	<div class="portrait col-md-3">
		<%= image_tag("Celine.jpg", class: "img-rounded") %>
		<p class="name">Edouard</p>
		<p>[description]</p>
	</div>
	<div class="portrait col-md-3">
		<%= image_tag("Chris.JPG", class: "img-rounded") %>
		<p class="name">Chris</p>
		<p>[description]</p>
	</div>
	<div class="portrait col-md-3">
		<%= image_tag("Celine.jpg", class: "img-rounded") %>
		<p class="name">Olivier</p>
		<p>[Description]</p>
	</div>
	<div class="portrait col-md-3">
		<%= image_tag("Celine.jpg", class: "img-rounded") %>
		<p class="name">Céline</p>
		<p>[description]</p>
	</div>
</div>